
body {
    font-family: Arial, sans-serif;
    background-color: #8ea6ba;
    margin: 0;
    padding: 0;
}

header {
    background-color: #da49c0;
    padding: 10px 20px;
    color: rgb(148, 128, 128);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 5px;
    border: none;
    background-color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

#quiz-container {
    text-align: center;
}

#quiz-form {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

/* Quiz question styling */
#question {
    margin-bottom: 10px;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

button[type="submit"],
button {
    padding: 10px 20px;
    background-color: #e621ed;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover,
button:hover {
    background-color: #c028ac;
}

#result-message {
    font-weight: bold;
    margin-bottom: 10px;
}
